.App {
  font-family: sans-serif;
  text-align: center;
  width: 50vw;
  margin: 0 auto;
}

.amount-btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.2em;
}

.btn {
  padding: 0.5em 1.5em;
  border-radius: 0.5em;
  border: none;
}

.btn:hover {
  cursor: pointer;
  background-color: aquamarine;
  color: inherit;
}

.active {
  background-color: aquamarine;
  border: none;
}
